<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Stok</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1 class="h1">Cadastro de produtos</h1>
        <div class="botao">
            <button><a href="/">Sair</a></button>
        </div>
    </header>    
    <div class="container">
        <div class="card-c">
            <h1>Produto</h1>

            <div class="label-float">
                <input type="text" id="produto" placeholder="" required>
                <label for="produto">Descrição</label>
            </div>

            <div class="label-float">
                <input type="text" id="text" placeholder="" required>
                <label for="text">Tipo de Embalagem</label>
            </div>

            <div class="label-float">
                <input type="text" id="usuario" placeholder="" required>
                <label for="usuario">Código de Barras</label>
            </div>

            <div class="justify-center">
                <button><a id="botao-cadastro" href="/templates">Finalizar</a></button>
            </div>

        </div>
    </div>
    <footer>
        <p>Lorem ipsum &copy; dolor sit.</p>
    </footer>
    <script src="../js/JavaScript.js"></script>
</body>
</html>