<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Stok</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/style.css' %}">
</head>
<body>
    <header>
        <h1 class="h1">Cadastre aqui a sua empresa</h1>
    </header>    
    <div class="container">
        <div class="card-c">
            <h1>Empresa</h1>

           <form  action="{% url 'cadastroempresa' %}" method="POST">
            {% csrf_token %}
            <div class="label-float">
                <input type="text" id="empresa" name="empresa" placeholder="Nome da Empresa" required>
                <label for="empresa">Razão Social</label>
            </div>

            <div class="label-float">
                <input type="text" id="text" name="cnpj" placeholder="" required>
                <label for="text">CNPJ</label>
            </div>

            <div class="label-float">
                <input type="text" id="usuario" placeholder="" name="endereco" required>
                <label for="usuario">Endereço</label>
            </div>

            <div class="label-float">
                <input type="#" id="usuario" placeholder="" name="cep" required>
                <label for="usuario">CEP</label>
            </div>
                <input type="hidden" value="{{ user.username }}" name="usu" required>

            <div class="justify-center">
                <input type="submit" value="Finalizar">
            </div>
               {% if messages %}
                    {% for m in messages %}
                        <div class="alert alert-warning" role="alert">
                        {{ m }}
                        </div>
                    {% endfor %}
               {% endif %}
        </form>

        </div>
    </div>
    <footer>
        <p>Lorem ipsum &copy; dolor sit.</p>
    </footer>
    <script src="../js/JavaScript.js"></script>
</body>
</html>
