<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1 class="h1">Seja, bem-vindo(a)s</h1>
    </header>    
    <div class="container">
        <div class="card-c">
            <h1>Cadastro de Usuário</h1>
        <form action="{% url 'cadastro' %}" method="POST">
            {% csrf_token %}
            <div class="label-float">
                <label for="usuario">Nome de Usuário:</label>
                <br>
                <input type="text" id="usuario" placeholder="Usuário" name="usuario" required>
            </div>

            <div class="label-float">
                <label for="email">Email:</label>
                <br>
                <input type="email" id="email" placeholder="E-mail" name="email" required>
            </div>

            <div class="label-float">
                <label for="verSenha">Escolha uma senha</label>
                <i id="verSenha" class="fa fa-eye" aria-hidden="true"></i>
                <br>
                <input type="password" id="verSenha" placeholder="Senha" name="senha" required>
            </div>

            <div class="label-float">
                <label for="verConfirmSenha">Confirmar senha</label>
                <i id="verConfirmSenha" class="fa fa-eye" aria-hidden="true"></i>
                <br>
                <input type="password" id="ConfirmSenha" placeholder="Senha" name="confirmasenha" required>
            </div>

            <div class="justify-center">
                <input type="submit" value="Finalizar">
            </div>
        </form>
        </div>
    </div>
    <footer>
        <p>Lorem ipsum &copy; dolor sit.</p>
    </footer>
    <script src="../js/JavaScript.js"></script>
</body>
</html>
